@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Moul&display=swap');

/* Kantumruy Pro */

.kantumruy-pro-regular {
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.kantumruy-pro-bold {
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.kantumruy-pro-italic {
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
}

.kantumruy-pro-bold-italic {
  font-family: "Kantumruy Pro", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: italic;
}

/* Moul */

.moul-regular {
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: normal;
}

.moul-bold {
  font-family: "Moul", serif;
  font-weight: 700;
  font-style: normal;
}
.moul-italic {
  font-family: "Moul", serif;
  font-weight: 400;
  font-style: italic;
}

.moul-bold-italic {
  font-family: "Moul", serif;
  font-weight: 700;
  font-style: italic;
}
